<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
    </head>
    <body>
        <!-- section jumboron hero -->

        <!-- navbar section -->
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('scraper.home') }}">
              <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
              <p class="subtitle has-text-dark has-text-weight-bold">HelmBoots Scraper</p>
            </a>
        
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
        
          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="{{ url_for('scraper.get_data_product') }}" class="navbar-item">Get Product Data</a>
              <a href="{{ url_for('scraper.view_data') }}" class="navbar-item">View Data Product</a>
            </div>
        
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a href="https://gitlab.com/perymerdeka/helmboots-scraper" class="button is-primary"><strong>View Source Code</strong></a>
                  <a href="https://gitlab.com/perymerdeka/helmboots-scraper/-/archive/master/helmboots-scraper-master.zip" class="button is-light">Download Source Code</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
        <!-- end navbar section -->

        <section class="hero is-medium is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title"><a class="has-text-white" href="{{ url_for('scraper.home') }}">Welcome to HelmBoot Scraper</a></h1>
                    <h2 class="subtitle">Web Home Page</h2>
                    <button class="button is-primary has-text-centered is-center"><a class=" has-text-white" href="#results">View Result</a></button>
                </div>
            </div>
        </section>
        <!-- end section jumboton hero -->

        <!-- section feature -->
        <section class="hero hero-body">

        </section>
        <!-- end section feature -->

        <!-- table section -->
        <section class="hero" id="results">
            <div class="hero-body">
                <h1 class=" has-text-centered title">Table Result Scraper</h1>
                <table class="table has-text-centered">
                    <thead>
                        <tr>
                            <th><abbr title="Number">No. </abbr></th>
                            <th>Title</th>
                            <th>Handle</th>
                            <th>Date Published</th>
                            <th>Product Identity</th>
                            <th>Price</th>
                            <th>Product Type</th>
                            <th>SKU</th>
                            <th>Vendor Brand</th>
                            <th>Image Url</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for result in records %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ result.title }}</td>
                            <td>{{ result.handle }}</td>
                            <td>{{ result.publish }}</td>
                            <td>{{ result.product_id }}</td>
                            <td>{{ result.price }}</td>
                            <td>{{ result.product_type }}</td>
                            <td>{{ result.sku }}</td>
                            <td>{{ result.vendor }}</td>
                            <td><a href="{{ result.image_url }}">{{result.image_url}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <!-- end table section -->

        <!-- footer section -->
        <section class="hero are-small">
            <footer class="footer">
                <div class="content has-text-centered">
                    <p><strong>HelmBoot Scraper</strong> available @ <a href="https://gitlab.com/perymerdeka" target="blank">Gitlab</a></p>
                </div>
            </footer>
        </section>
        <!-- end footer section -->
        
    </body>
</html>