<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Data</title>
    
    <!-- add bulma css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bulma/css/bulma.min.css') }}">
</head>
<body>
  <!-- navbar section -->
  <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ url_for('scraper.home') }}">
        <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        <p class="subtitle has-text-dark has-text-weight-bold">HelmBoots Scraper</p>
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{ url_for('scraper.get_data_product') }}" class="navbar-item">Get Product Data</a>
        <a href="{{ url_for('scraper.view_data') }}" class="navbar-item">View Data Product</a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="https://gitlab.com/perymerdeka/helmboots-scraper" class="button is-primary"><strong>View Source Code</strong></a>
            <a href="https://gitlab.com/perymerdeka/helmboots-scraper/-/archive/master/helmboots-scraper-master.zip" class="button is-light">Download Source Code</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- end navbar section -->

  <!-- form section -->
    <section class="hero is-medium">
      <div class="hero-body">
        <p class="subtitle has-text-centered has-text-weight-bold">Setting Limit Value</p>
        <div class="container">
          <form action="{{ url_for('scraper.view_data') }}" method="POST">
            <div class="field">
              <label class="label" for="limit-value">Set Limit Value:</label>
              <div class="control">
                <input class="input" type="text" id="limit-value" name="limitvalue" value=""><br>
              </div>
            </div>
            <div class="field">
              <label class="label" for="page-display">Set Page Display:</label>
              <div class="control">
                <input class="input" type="text" id="page-display" name="pagedisplay" value="">
              </div>
            </div>
            <input class="button is-primary" type="submit" value="Submit">
          </form>
        </div>
      </div>
    </section>
  <!--  end form section  -->

  <!-- footer section -->
  <section class="hero are-small">
    <footer class="footer">
        <div class="content has-text-centered">
            <p><strong>HelmBoot Scraper</strong> available @ <a href="https://gitlab.com/perymerdeka" target="blank">Gitlab</a></p>
        </div>
    </footer>
  </section>
  <!-- end footer section -->
</body>
</html>